azure-core==1.41.0
azure-cosmos==4.16.3
azure-data-tables==12.7.0
azure-functions==1.25.0
certifi==2026.7.22
charset-normalizer==3.5.1
idna==3.19
iniconfig==2.3.0
isodate==0.7.2
MarkupSafe==3.0.3
multidict==6.7.1
packaging==26.3
pluggy==1.6.0
propcache==0.5.2
Pygments==2.21.0
pytest==9.1.1
pytest-mock==3.15.1
requests==2.34.2
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==3.1.8
yarl==1.24.5
